.screen {
    width: 300px;
    height: 300px;
    text-align: center;
}
.screen .waiting {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    color: black;
}
.screen .ready {
    width: 300px;
    height: 200px;
    background-color: darkred;
    color: white;
}
.screen .now {
    width: 300px;
    height: 200px;
    background-color: greenyellow;
    color: black;
}